<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="liTree" ng-controller="treeCtrl">

    <!--<tree family="banks"></tree>-->

    <button ng-click="askForBanks()">Post</button>

    <tree family="res"></tree>
    <!--<div ng-repeat="x in data">-->
        <!--{{x.name}}-->
    <!--</div>-->

    <script src="Test/myTree.js"></script>
</body>

</html>